@{ ViewBag.Title = "SearchHospitalByPincode"; }

<h2>SearchHospitalByPincode</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.Label("Enter City Pincode:")
        @Html.TextBox("Pin")
    </div>
    <input type="submit" value="Search" />
}